@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

/* Genel Ayarlar */
body {
  font-family: 'Baloo 2', cursive;
  background-image: url('./background-1.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.logo-img {
  width: 200px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

button {
  font-family: 'Baloo 2', cursive;
  background-color: #ffcb05;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #f2b807;
  transform: scale(1.05);
}

/* Pokémon Sonuç Alanı */
#pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
}

.pokemon {
  position: absolute;
  width: 70px;
  height: 70px;
  transition: all 2s ease;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

/* Pokémon Kartı */
.pokemon-card {
  background-color: #ffffff;
  border: 2px solid #2a75bb;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

.pokemon-card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #2a75bb;
}

.pokemon-card p {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}

/* Yakalanan Pokémon Alanı */
#caught-pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #2a75bb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caught-pokemon-img {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: 2px solid #ffcb05;
  border-radius: 50%;
  transition: transform 0.3s;
}

.caught-pokemon-img:hover {
  transform: scale(1.1);
}


/* Ses Butonu */
audio {
  margin-top: 10px;
  width: 100%;
}

/* Responsive Tasarım */
@media (max-width: 768px) {
  input, button {
    width: 80%;
    margin-bottom: 10px;
  }

  #pokemon-container {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-card {
    width: 90%;
  }
}
